@model Dictionary<string, MainEntry>


@{
    ViewData["Title"] = "AlignmentDetails";
}

<table class="table table-striped">
    <tbody>
        <tr>
            <div class="container">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>
                        <input type="text" id="Search" placeholder="Search" class="form-control" />
                    </div>
                </div>
            </div>
        </tr>
        <tr>
            <td>Name</td>
            <td>Website</td>
            <td style="text-align:center;">Summary</td>
            <td style="text-align:center;">Alignment</td>

        </tr>

        @foreach (var kvp in Model)
        {
            <tr class="Search">
                <td>@kvp.Value.CompanyName</td>
                <td style="text-align:right;"><a href="@kvp.Value.CompanyWebsite">@kvp.Value.CompanyWebsite</a></td>
                <td>@kvp.Value.TwoLineCompanySummary</td>

                <td style="text-align:right;">
                    @{
                        if (kvp.Value.Alignment != null)
                        {
                            string[] s = kvp.Value.Alignment.Split(' ');
                            foreach (string x in s)
                            {

                                <a href="AlignmentDetails?alignment=@x">@x</a>


                            }
                        }
                    }
                </td>



            </tr>
            <tr class="Search">
                <td>Ratings: Here</td>
                <td></td>
                <td>Comment Section: Here</td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td style="text-align:right;"><a href="/Seamless/AddSeamlessStartupEntry?key=@kvp.Key">Add This Fella</a></td>
                }
                else
                {
                    <td style="text-align:right;"><a href="/Identity/Account/Login">LOG IN</a> To Add This Company To Your Tracker List</td>
                }
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>