@model Dictionary<SeamlessMaster, MainEntry>
@{
    ViewData["Title"] = "DisplaySavedSeamlessStartupEntries";
}

<h1>DisplaySavedSeamlessStartupEntries</h1>

@foreach (KeyValuePair<SeamlessMaster,MainEntry> kvp in Model)
{
    <p>@kvp.Value.CompanyName</p>
    <p>@kvp.Value.DateAdded</p>
    <p>@kvp.Value.TwoLineCompanySummary</p>
    <p>@kvp.Key.Rating</p>
    <p>@kvp.Key.Comment</p>
}