@model Dictionary<SeamlessMaster, MainEntry>
@{
    ViewData["Title"] = "DisplaySavedSeamlessStartupEntries";
}

<h1>DisplaySavedSeamlessStartupEntries</h1>

@if(Model.Count == 0)
{
    <p>No StartUps have Been Displayed.</p>
    <p><a href="/Seamless/DisplaySeamlessStartups">Click Here To View StartUps You Can Add</a></p>
}
else
{
    @foreach (KeyValuePair<SeamlessMaster,MainEntry> kvp in Model)
    {
        <h2>@kvp.Value.CompanyName</h2>
        <p>Date Added: @kvp.Value.DateAdded</p>
        <p>Description: @kvp.Value.TwoLineCompanySummary</p>
        <p>Rating: @kvp.Key.Rating</p>
        <p>Comments: @kvp.Key.Comment</p>
    }
}
