@model Dictionary<string, MainEntry>


@{
    ViewData["Title"] = "DisplaySeamlessStartups";
}

@{ if (ViewBag.Status != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Status");
            };
        </script>
    } }


<table class="table table-striped">

    <tbody>
        <div class="container">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                    <input type="text" id="Search" placeholder="Search" class="form-control" />
                </div>
            </div>
        </div>
        <tr></tr>
        <tr style="font-weight:bold;">
            <td style="text-align:center;">Name</td>
            <td style="text-align:center;">Alignment</td>
            <td style="text-align:center;">Summary</td>
            <td style="text-align:center;">Technologies</td>
            <td></td>
        </tr>


        @foreach (var kvp in Model)
        {

            <tr class="Search">
                <td style="text-align:center; background-color:royalblue"><a href="SeamlessStartUpDetails?key=@kvp.Key" style="color:wheat">@kvp.Value.CompanyName</a></td>

                <td style="text-align:center;">
                    @{
                        if (kvp.Value.Alignment != null)
                        {
                            string[] s = kvp.Value.Alignment.Split(' ', ',', '/', '\"');
                            foreach (string x in s)
                            {

                                <a href="AlignmentDetails?alignment=@x">@x</a>


                            }
                        }
                    }
                </td>
                <td>@kvp.Value.TwoLineCompanySummary</td>

                <td>
                    @if (kvp.Value.Themes != null)
                    {


                        <p>Themes: </p>

                        string[] th = kvp.Value.Themes.Split(' ', ',', '/', '\"');
                        foreach (string x in th)
                        {

                            <a href="TechDetails?Tech=@x">@x</a>


                        }


                    }

                    @if (kvp.Value.Landscape != null)
                    {
                        <p>LandScapes:</p>
                        string[] la = kvp.Value.Landscape.Split(' ', ',', '/', '\"');
                        foreach (string x in la)
                        {

                            <a href="TechDetails?Tech=@x">@x</a>


                        }
                    }

                    @if (kvp.Value.TechnologyAreas != null)
                    {
                        <p>TechAreas:</p>
                        string[] ta = kvp.Value.TechnologyAreas.Split(' ', ',', '/', '\"');
                        foreach (string x in ta)
                        {

                            <a href="TechDetails?Tech=@x">@x</a>

                        }
                    }


                </td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td style="text-align:right; background-color:darkgrey"><a href="/Seamless/AddSeamlessStartupEntry?key=@kvp.Key" style="color:wheat;">Add To Favorites</a></td>

                }
                else
                {
                    <td style="text-align:right;"><a href="/Identity/Account/Login">LOG IN</a> To Track Listing!</td>
                }

            </tr>
        }

    </tbody>
</table>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>