@model CustomStartupVM
@{
    ViewData["Title"] = "DisplayCustomStartups";
}

<table class="table-striped" style="width:100%">
    <tr>
        <th>Add Date</th>
        <th>Startup</th>
        <th>Username</th>
        <th>Summary</th>
        <th>Theme</th>
        <th>Raised</th>
    </tr>
    @{
        int i = 0;
    }
    @foreach (UserStartup us in Model.UserStartupList)
    {
        <tr>
            <td>
                @us.DateAdded.ToShortDateString()
            </td>
            <td>
                @us.CompanyName
            </td>
            <td>
                @Model.UserNameList[i]
            </td>
            <td>
                @us.TwoLineSummary
            </td>
            <td>
                @us.Theme
            </td>
            <td>
                @us.Raised
            </td>
        </tr>
        i++;
    }
</table>