@model UserStartupComments

<h3>@User.Identity.Name's Startup Details</h3>


<card4 class="badge-dark" style="position:fixed; left:auto; font-weight:bold;  border:thick; border-color:wheat;">
    @if (Model.Startups.CompanyName != null)
    {
        <p>@Model.Startups.CompanyName</p>
    }
    @if (Model.Startups.ReviewDate != null)
    {
        <p>Review Date:     @Model.Startups.ReviewDate</p>}
    @if (Model.Startups.DateAdded != null)
    {
        <p>Date Added:      @Model.Startups.DateAdded</p>}
    @if (Model.Startups.Scout != null)
    {
        <p>Scout:           @Model.Startups.Scout</p>}
    @if (Model.Startups.Source != null)
    {
        <p>Source:          @Model.Startups.Source</p>}
    @if (Model.Startups.CompanyWebsite != null)
    {
        <p>Website:         @Model.Startups.CompanyWebsite</p>}
    @if (Model.Startups.City != null)
    {
        <p>City:            @Model.Startups.City</p>}
    @if (Model.Startups.StateProvince != null)
    {
        <p>State/Province:  @Model.Startups.StateProvince</p>}
    @if (Model.Startups.Country != null)
    {
        <p>Country:         @Model.Startups.Country</p>}
</card4>
<card3 class="badge-secondary" style="position:fixed; top:inherit;">
    <table>
        @if (Model.Startups.TwoLineSummary != null)
        {
            <tr>
                <span style="text-align:left;">
                    <td>Two-Line-Summary:</td>
                </span>
                <span>
                    <td style="text-align: right; position:relative; padding-left:35px; padding-bottom:8px;">
                        @Model.Startups.TwoLineSummary
                    </td>
                </span>
            </tr>
        }
        @if (Model.Startups.Alignment != null)
        {
            <tr>
                <span style="text-align:left;">
                    <td>Alignment:</td>
                </span>
                <span>
                    <td style="text-align: right; padding-bottom:8px;">
                        @Model.Startups.Alignment
                    </td>
                </span>
            </tr>
        }
        @if (Model.Startups.Theme != null)
        {
            <tr>
                <span style="text-align:left;">
                    <td>Theme(s):</td>
                </span>
                <span>
                    <td style="text-align: right; padding-bottom:8px;"> @Model.Startups.Theme</td>
                </span>
            </tr>
        }
        @if (Model.Startups.Technology != null)
        {
            <tr>
                <span style="text-align:left;">
                    <td>  Technology Areas:</td>
                </span>
                <span>
                    <td style="text-align: right; padding-bottom:8px;"> @Model.Startups.Technology</td>
                </span>
            </tr>
        }
        @if (Model.Startups.Landscape != null)
        {
            <tr>
                <span style="text-align:left;">
                    <td> Landscape:</td>
                </span>
                <span>
                    <td style="text-align: right; padding-bottom:8px;">  @Model.Startups.Landscape</td>
                </span>
            </tr>
        }
        @if (Model.Startups.Uniqueness != null)
        {
            <tr>
                <span style="text-align:left;">
                    <td> Uniqueness:</td>
                </span>
                <span>
                    <td style="text-align: right; padding-bottom:8px;">  @Model.Startups.Uniqueness</td>
                </span>
            </tr>
        }
        @if (Model.Startups.Team != null)
        {
            <tr>
                <span style="text-align:left;">
                    <td> Team:</td>
                </span>
                <span>
                    <td style="text-align: right; padding-bottom:8px;">  @Model.Startups.Team</td>
                </span>
            </tr>
        }
        @if (Model.Startups.Raised != null)
        {
            <tr>
                <span style="text-align:left;">
                    <td> Raised:</td>
                </span>
                <span>
                    <td style="text-align: right; padding-bottom:8px;"> $@Model.Startups.Raised</td>
                </span>
            </tr>
        }





    </table>
</card3>

<button4 style="position:fixed; background-color:cornflowerblue" ><a href="/Seamless/ConfirmRemoveUserStartUp?id=@Model.Startups.Id"><b>Remove Favorite</b></a></button4>

<button2 style="position:fixed;">
    <form action="/Seamless/AddStartupRating?id=@Model.Startups.Id" method="post" class="badge-secondary" style="padding:10px;">
        <input type="number" name="rating" placeholder="Rating" min="1" max="10" />
        <input type="submit" value="Submit" />
    </form>
    <div style="color:aliceblue; padding:10px;" class="badge-info">
        @foreach (var Rating in Model.Comments)
        {
            if (Rating.Rating != null)
            {
                <p>Rating: @Rating.Rating</p>}
        }
    </div>
</button2>
<button3 style="position:fixed;">
    <form action="/Seamless/AddStartupComments?id=@Model.Startups.Id" method="post" class="badge-secondary" style="padding:10px;">
        <input type="text" name="comment" placeholder="Comment Here" required />
        <input type="submit" value="Submit" />
    </form>
    <div style="color:aliceblue; padding:10px;" class="badge-info">
        @{ int i = 1;
            foreach (var Comment in Model.Comments)
            {

                if (Comment.Comment != null)
                {
                    <p>@i. @Comment.Comment</p>
                    i++;
                }
            }
        }
    </div>
</button3>
